.Container {
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
}

.ButtonContainer {
    width: 100%;
    margin-top: 4%;
}

.Button {
    padding: 1%;
    margin: 2%;
    background-color: white;
    border: 4px lightblue solid;
    border-radius: 10px;
    width: 15%;
    color: black
}

.Button:hover {
    background-color: lightblue;
}